#__next {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

#__next * {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--dark-1000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightCadMaquina {
  width: 80vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCliente {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: var(--dark-500);
  border-radius: 20px;
  box-shadow: 0px 10px 40px var(--black);

  h1 {
    color: var(--green-300);
    font-weight: 800;
    margin: 0;
  }
}

.tabelaClientes {
  background-color: var(--dark-300);
  color: var(--dark-white) !important;
}

.bodyTable {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 15px;
  background: var(--dark-300);
  border-radius: 20px;

  h1 {
    color: var(--green-300);
    font-weight: 800;
    margin: 0;
  }
}
.elemento2 {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}

.btnExcluir {
  width: 80%;
  margin-left: -1%;
  background-color: var(--red-800);
  color: black;

  &:hover {
    background-color: var(--red-800);
    filter: brightness(1.08);
  }
}

.btnAlterar {
  width: 80%;
  margin-right: -1%;
  background-color: var(--blue-800);
  color: black;

  &:hover {
    background-color: var(--blue-800);
    filter: brightness(1.08);
  }
}
.row {
  &:hover {
    background-color: #514869;
    filter: brightness(1.08);
  }
}

.margin {
  margin-left: 2%;
  margin-right: -2%;
}

.paginacao {
  background-color: var(--dark-500);
  color: var(--dark-white);
  overflow: none !important;
}
