#__next {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

#__next * {
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background: var(--dark-1000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}