@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  .light {
    --background: #f9f8ff;
    --foreground: #333;

    --card: #fff;
    --card-foreground: #333;

    --popover: #fff;
    --popover-foreground: #333;

    --primary: #e63946;
    --primary-foreground: #fff;

    --secondary: #f9d86c;
    --secondary-foreground: #333;

    --muted: #f1f1f1;
    --muted-foreground: #878787;

    --accent: #90caf9;
    --accent-foreground: #333;

    --destructive: #f48fb1;
    --destructive-foreground: #fff;

    --border: #f1f1f1;
    --input: #fff;
    --ring: #f1f1f1;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  background-color: #070809;
}

::-webkit-scrollbar-track {
  background-color: #070809;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2f3c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #262931;
}