
.input {
    height: 3.7rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input100 {
    margin-left: 4%;
    height: 3.7rem;
    width: 92%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input90 {
    height: 3.7rem;
    width: 90%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input80 {
    margin-left: 4%;
    height: 3.7rem;
    width: 68.5%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input70 {
    margin-left: 1%;
    height: 3.7rem;
    width: 53.2%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input60 {
    height: 3.7rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input50 {
    margin-left: 2%;
    height: 3.7rem;
    width: 45%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input40 {
    margin-left: 1%;
    height: 3.7rem;
    width: 69%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input30 {
    height: 3.7rem;
    width: 30%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input20 {
    margin-left: 2%;
    height: 3.7rem;
    width: 21.5%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input10 {
    margin-left: 1%;
    height: 3.7rem;
    width: 15%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input10::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input20::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input30::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input40::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input50::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input60::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input70::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input80::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input90::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}

.input100::placeholder {
    color: var(--gray-50);
    // opacity: 0.8;
}
