.input{  
    height: 3.7rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-300);
    color: var(--gray-50);
    font-size: 12pt;
    box-shadow: 8px 10px 80px -20px var(--black);
    outline: none;
    box-sizing: border-box;
    margin-top: 1rem;
}

.input::placeholder{
    color: var(--gray-50);
    // opacity: 0.8;
}