#__next {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#__next * {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--dark-1000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightFuncionario {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardFuncionario {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: var(--dark-500);
  border-radius: 20px;
  box-shadow: 0px 10px 40px var(--black);

  h1 {
    color: var(--green-300);
    font-weight: 800;
    margin: 0;
  }
}

.btnCadastrar {
  margin-top: 1rem;
  height: 3.8rem;
  width: 40%;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3rem;
  color: var(--dark-1000);
  background: var(--green-300);
  cursor: pointer;
  box-shadow: 0px 5px 40px -20px var(--green-300);

  &[disabled] {
    cursor: not-allowed;

    svg {
      animation: animate 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.2);
    background: var(--green-300);
  }
}

.btnExcluir {
  margin-top: 1rem;
  height: 3.8rem;
  width: 40%;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3rem;
  color: var(--dark-1000);
  background: var(--red-400);
  cursor: pointer;
  box-shadow: 0px 5px 40px -20px var(--red-400);

  &[disabled] {
    cursor: not-allowed;

    svg {
      animation: animate 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.2);
    background: var(--red-400);
  }
}

.grupoBotao {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
