*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

#__next {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

#__next * {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--dark-1000);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root{
    --white: #fff;
    --black: #000;
  
    --dark-1000: #69676e;
    --dark-900: #525252;
    --dark-800: #777777;
    --dark-750: #282138;
    --dark-700: #5f5f5f;
    --dark-500: #999999;
    --dark-400: #797979;
    --dark-300: #b4b4b4;
  
    --gray-50: #000000de;
    --gray-100: #8a8a8a;
  
    --green-700: #00ff8052;
    --green-400: #00b661;
    --green-300: #3b3549;
    --green-100: #3fffb3;
}

[data-theme='dark'] {
    --white: #fff;
    --black: #000;
    
    --dark-1000: #201b2c;
    --dark-900: #101026;
    --dark-800: #282138;
    --dark-700: #1D1D2E;
    --dark-500: #2f2841;
    --dark-300: #514869;
    
    --gray-50: #f0ffffde;
    --gray-100: #8a8a8a;
    
    --green-700: #00ff8052;
    --green-400: #00b661;
    --green-300: #00FF88;
    --green-100: #3fffb3;
}

button{
  cursor: pointer;
}

a{
  color:inherit;
  text-decoration: none;
}

body{
  background: var(--dark-700);
}

body, input, textarea, select, button{
  font: 400 1rem sans-serif; //1rem = 16px
}
@media(max-width: 720px) {
  html {
    font-size: 87.5%; // vai gerar 14px
  }
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%; // vai gerar 14px
  }
}