#__next {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

#__next * {
    box-sizing: border-box;
}

.mainLogin {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.rightLogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

    h1 {
        color: #00ff88;
        font-weight: 800;
        margin: 0;
    }

}

// .login{
//   margin-top: 2rem;
//   width: 600px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   padding: 2rem 1.5rem;

//   h1{
//     color: var(--white);
//     padding-bottom: 1rem;
//   }

//   form{
//     width: 90%;
//     display: flex;
//     flex-direction: column;
//   }

//   form button{
//     height: 60px;
//     size: 1.2rem;
//   }
// }

// .text{
//   margin-top: 1rem;
//   color: var(--white);
//   cursor: pointer;
// }

@media only screen and (max-width: 950px) {
    .cardLogin {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .mainLogin {
        flex-direction: column;
    }

    .rightLogin {
        width: 100%;
        height: auto;
    }

    .cardLogin {
        width: 90%;
    }
}